[Unit]
Description=ECG HIDS ESP32 listener
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=chega
WorkingDirectory=/home/chega/HIDS/edge
EnvironmentFile=/home/chega/HIDS/rpi/hids.env
ExecStart=/home/chega/HIDS/edge/.venv/bin/python /home/chega/HIDS/edge/esp32_listener.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
